<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=0"/>
    <title>Home</title>

    <!-- Bootstrap CSS-->
    <link href="/assets/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link rel="stylesheet" href="/assets/vendors/font-awesome/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!-- IE 9-->
    <!-- Vendors-->
    <link rel="stylesheet" href="/assets/vendors/flexslider/flexslider.min.css">
    <link rel="stylesheet" href="/assets/vendors/swipebox/css/swipebox.min.css">
    <link rel="stylesheet" href="/assets/vendors/slick/slick.min.css">
    <link rel="stylesheet" href="/assets/vendors/slick/slick-theme.min.css">
    <link rel="stylesheet" href="/assets/vendors/animate.min.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/assets/vendors/pageloading/css/component.min.css">
    <link rel="stylesheet" href="/assets/vendors/dialog/css/dialog.css">
    <!-- Font-icon-->
    <link rel="stylesheet" href="/assets/fonts/font-icon/style.css">
    <!-- Style-->
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/elements.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/extra.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/widget.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
    <!-- Script Loading Page-->
    <script src="/assets/vendors/html5shiv.js"></script>
    <script src="/assets/vendors/respond.min.js"></script>
    <script src="/assets/vendors/pageloading/js/snap.svg-min.js"></script>
    <script src="/assets/vendors/pageloading/sidebartransition/js/modernizr.custom.js"></script>
  </head>
  <body>
    <div id="pagewrap" class="pagewrap">
      <div id="html-content" class="wrapper-content">
        <header>
          <div class="header-top top-layout-02">
            <div class="container">
            </div>
          </div>
          <div class="header-main">
            <div class="container">
              <div class="open-offcanvas">&#9776;</div>

<!-- ********************************* real nav ********************************* -->

              <div class="header-logo"><a href="/" class="logo logo-static Seamless">Seamless Eats</a></div>
              <nav id="main-nav-offcanvas" class="main-nav-wrapper">
                <div class="close-offcanvas-wrapper"><span class="close-offcanvas">x</span></div>
                <div class="main-nav">
                  <ul id="main-nav" class="nav nav-pills">
                    <li class="dropdown"><a href="/" class="dropdown-toggle">Home</a><i class="fa fa-angle-down btn-open-dropdown"></i></li>
                    <li class="dropdown"><a href="/logout" class="dropdown-toggle">Logout</a><i class="fa fa-angle-down btn-open-dropdown"></i></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </header>
        <div class="page-container">
          <section class="testimonial-section-02 padding-top-100 padding-bottom-100">


            <div class="container">
              <div class="row">
                <div class="col-md-9 col-md-offset-1">
                  <div class="swin-sc swin-sc-title">

                    <h3 class="title">My Profile</h3>
                  </div>

                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="swin-sc swin-sc-testimonial style-1 bg-white">

                        <div data-width="150" class="nav-slider">
                          <ul class="slides list-inline">
                            <li class="swin-transition">
                              <a href="javascript:void(0)" class="testimonial-nav-item">
                                <img src="/assets/images/userIcons/qr.png" alt="qr" class="img img-responsive swin-transition">
                              </a>
                            </li>
                            <li class="swin-transition">
                              <a href="javascript:void(0)" class="testimonial-nav-item">
                                <img src="/assets/images/userIcons/userSettings.png" alt="settings" class="img img-responsive swin-transition">
                              </a>
                            </li>
                            <li class="swin-transition">
                              <a href="javascript:void(0)" class="testimonial-nav-item">
                                <img src="/assets/images/userIcons/recents.png" alt="recent restaurants" class="img img-responsive swin-transition">
                                <!-- <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a> -->
                              </a>
                            </li>
                            <li class="swin-transition">
                              <a href="javascript:void(0)" class="testimonial-nav-item">
                                <!-- <img src="/assets/images/userIcons/logOut.png" alt="logout" class="img img-responsive swin-transition"> -->
                                <img src="/img/table.png" alt="logout" class="img img-responsive swin-transition">

                              </a>
                            </li>
                          </ul>
                        </div>

                        <div class="main-slider flexslider">
                          <div class="slides">
                            <!-- qr section -->
                            <div class="testi-item item"><i class="testi-icon fa"></i>
                              <div class="testi-content">
                                <div id="container">
                                  <h1>QR Code Scanner</h1>
                                  <!-- originally an a tag below, breaks jquery for animation.  -->
                                  <button id="btn-scan-qr">
                                      <img src="https://uploads.sitepoint.com/wp-content/uploads/2017/07/1499401426qr_icon.svg">
                                  </button>
                                  <canvas hidden="" id="qr-canvas"></canvas>
                                  <div id="qr-result" hidden="">
                                      <b>Data:</b> <span id="outputData"></span>
                                  </div>
                                </div>
                                <!-- <p>(1) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p> -->
                              </div>
                              <div class="testi-info">
                                <span class="name">Scan Qr</span>
                                <span class="position">Tap the Hold the icon</span>
                              </div>
                            </div>


                            <div class="testi-item item"><i class="testi-icon fa"></i>
                              <h3 class="userInfo"><a href="/userInfo">Update Info</a></h3>
                              <div class="testi-info">
                                <span class="name">Email</span>
                                <span class="position"><%= user.local.email %></span>
                              </div>
                              <div class="testi-info">
                              <!-- key name -->
                                  <span class="name">First Name</span>
                          <!-- if theres anything stored in the value-->
                                  <% if(user.first != "omit" ) { %>
                                        <span class="position"><%= user.first %> </span>

                                  <% } %>
                              </div>
                              <div class="testi-info">
                              <!-- key name -->
                                  <span class="name">Last Name</span>
                          <!-- if theres anything stored in the value-->
                                  <% if(user.last != "omit" ) { %>
                                        <span class="position"><%= user.last %> </span>

                                  <% } %>
                              </div>
                              <div class="testi-info">
                              <!-- key name -->
                                  <span class="name">Refer to As</span>
                          <!-- if theres anything stored in the value-->
                                  <% if(user.callName != "omit" ) { %>
                                        <span class="position"><%= user.callName %> </span>

                                  <% } %>
                              </div>
                              <div class="testi-info">
                              <!-- key name -->
                                  <span class="name">Address</span>
                          <!-- if theres anything stored in the value-->
                                  <% if(user.address != "omit" ) { %>
                                        <span class="position"><%= user.address %> </span>
                                  <% } %>

                              </div>
                              <div class="testi-info">
                              <!-- key name -->
                                  <span class="name">Apartment</span>
                          <!-- if theres anything stored in the value-->
                                  <% if(user.apartment != "omit" ) { %>
                                        <span class="position"><%= user.apartment %> </span>
                                  <% } %>

                              </div>
                              <div class="testi-info">
                              <!-- key name -->
                                  <span class="name">City</span>
                          <!-- if theres anything stored in the value-->
                                  <% if(user.city != "omit" ) { %>
                                        <span class="position"><%= user.city %> </span>
                                  <% } %>
                              </div>
                              <div class="testi-info">
                              <!-- key name -->
                                  <span class="name">State</span>
                          <!-- if theres anything stored in the value-->
                                  <% if(user.state != "omit" ) { %>
                                        <span class="position"><%= user.state %> </span>

                                  <% } %>
                              </div>
                              <div class="testi-info">
                              <!-- key name -->
                                  <span class="name">Zip-Code</span>
                          <!-- if theres anything stored in the value-->
                                  <% if(user.zip != "omit" ) { %>
                                        <span class="position"><%= user.zip %> </span>

                                  <% } %>
                              </div>
                              <div class="testi-info">
                              <!-- key name -->
                                  <span class="name">Phone</span>
                          <!-- if theres anything stored in the value-->
                                  <% if(user.phone != "omit" ) { %>
                                        <span class="position"><%= user.phone %> </span>

                                  <% } %>
                              </div>
                            </div>

                            <div class="testi-item item"><i class="testi-icon fa"></i>
                              <!-- <div class="testi-content">
                                <p>(3)Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                              </div> -->
                              <div class="testi-info">
                                <span class="name">Recent Restaurants</span>
                                <span class="position">Order History</span>
                              </div>
                            </div>

                            <div class="testi-item item"><i class="testi-icon fa"></i>
                              <div class="testi-info">
                                <section>
                                  <h3>No Scanner?</h3>
                                  <h3>Register your table below to get started</h3>
                                  <section class="noScanner">
                                    <input type="radio" name="restaurant" value="brothers" checked id="checked">
                                    <label for="brothers">Brothers Pizza</label>
                                    <section class="tables">
                                      <select id="tableNumber" name="tableNumber">
                                        <option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                      </select>
                                    </section>
                                  </section>
                                  <section class="seeMenu">
                                    <a href="#" class="butt" id="seeMenu">See Menu</a>
                                  </section>
                                </section>
                              </div>
                            </div>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
          <div id="loader" data-opening="m -5,-5 0,70 90,0 0,-70 z m 5,35 c 0,0 15,20 40,0 25,-20 40,0 40,0 l 0,0 C 80,30 65,10 40,30 15,50 0,30 0,30 z" class="pageload-overlay">
          <div class="loader-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 80 60" preserveaspectratio="none">
              <path d="m -5,-5 0,70 90,0 0,-70 z m 5,5 c 0,0 7.9843788,0 40,0 35,0 40,0 40,0 l 0,60 c 0,0 -3.944487,0 -40,0 -30,0 -40,0 -40,0 z"></path>
            </svg>
            <div class="sk-circle">
              <div class="sk-circle1 sk-child"></div>
              <div class="sk-circle2 sk-child"></div>
              <div class="sk-circle3 sk-child"></div>
              <div class="sk-circle4 sk-child"></div>
              <div class="sk-circle5 sk-child"></div>
              <div class="sk-circle6 sk-child"></div>
              <div class="sk-circle7 sk-child"></div>
              <div class="sk-circle8 sk-child"></div>
              <div class="sk-circle9 sk-child"></div>
              <div class="sk-circle10 sk-child"></div>
              <div class="sk-circle11 sk-child"></div>
              <div class="sk-circle12 sk-child"></div>
            </div>
            <div class="sk-circle sk-circle-out">
              <div class="sk-circle1 sk-child"></div>
              <div class="sk-circle2 sk-child"></div>
              <div class="sk-circle3 sk-child"></div>
              <div class="sk-circle4 sk-child"></div>
              <div class="sk-circle5 sk-child"></div>
              <div class="sk-circle6 sk-child"></div>
              <div class="sk-circle7 sk-child"></div>
              <div class="sk-circle8 sk-child"></div>
              <div class="sk-circle9 sk-child"></div>
              <div class="sk-circle10 sk-child"></div>
              <div class="sk-circle11 sk-child"></div>
              <div class="sk-circle12 sk-child"></div>
            </div>
          </div>
          </div>
          </div>
          <div id="add-to-cart-dialog" class="add-to-card-dialog dialog">
          <div class="dialog__overlay"></div>
          <div class="dialog__content">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-5">
                <div class="dialog-product-img"><img src="/assets/images/product/product-full-02.jpg" alt="fooday" class="img img-responsive"></div>
              </div>
              <div class="col-md-7">
                <div class="dialog-product-title">The Cracker Barrel's Country Boy Breakfast</div>
                <div class="dialog-product-price">$25.0</div>
                <div class="product-quanlity">
                  <div class="input-group">
                    <input type="text" name="quanlity" placeholder="" value="1" class="form-control"><a href="javascript:void(0)" class="quanlity-plus"><i class="fa fa-plus"></i></a><a href="javascript:void(0)" class="quanlity-minus"><i class="fa fa-minus"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="dialog-product-options">
                  <p class="option-title">More Options</p>
                  <div class="form-check">
                    <input id="productQuantity1" type="radio" name="productOption" value="option1" checked="" class="form-check-input">
                    <label for="productQuantity1" class="form-check-label">Aliquip ex ea commodo consequat</label>
                  </div>
                  <div class="form-check">
                    <input id="productQuantity2" type="radio" name="productOption" value="option2" checked="" class="form-check-input">
                    <label for="productQuantity2" class="form-check-label">Quis ullam laboris nisi ut aliquip ex ea commodo</label>
                  </div>
                  <div class="form-check">
                    <input id="productQuantity3" type="radio" name="productOption" value="option3" checked="" class="form-check-input">
                    <label for="productQuantity3" class="form-check-label">Commodo consequat aliquip</label>
                  </div>
                </div>
                <div class="dialog-product-options">
                  <p class="option-title">Other options</p>
                  <div class="form-check">
                    <input id="productOption2" type="checkbox" name="" value="option3" checked="" class="form-check-input">
                    <label for="productOption2" class="form-check-label">Ullam laboris nisi ut aliquip ex ea commodo</label>
                  </div>
                  <div class="form-check">
                    <input id="productOption3" type="checkbox" name="" value="option3" class="form-check-input">
                    <label for="productOption3" class="form-check-label">Ut enim ad minim veniam</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="dialog-button-group">
              <a href="javascript:void(0)" class="swin-btn btn-transparent">
                <span>View Cart</span>
              </a>
              <a data-toggle="dialog" data-target="#add-to-cart-dialog" class="swin-btn open-toast">
                <span>Order Now</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="add-to-card-toast toast">
        <div class="toast_content">
          <div role="alert" class="alert alert-success">
            <button type="button" aria-label="Close" class="close close-toast"><span aria-hidden="true">×</span></button><strong>Order Successfully!</strong> This message will disappearance in 5 seconds
          </div>
        </div>
      </div>
      </script>
      <!-- jQuery-->
      <script src="/assets/vendors/jquery-1.10.2.min.js"></script>
      <!-- Bootstrap JavaScript-->
      <script src="/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
      <!-- Vendors-->
      <script src="/assets/vendors/flexslider/jquery.flexslider-min.js"></script>
      <script src="/assets/vendors/swipebox/js/jquery.swipebox.min.js"></script>
      <script src="/assets/vendors/slick/slick.min.js"></script>
      <script src="/assets/vendors/isotope/isotope.pkgd.min.js"></script>
      <script src="/assets/vendors/jquery-countTo/jquery.countTo.min.js"></script>
      <script src="/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
      <script src="/assets/vendors/parallax/parallax.min.js"></script>
      <script src="/assets/vendors/gmaps/gmaps.min.js"></script>
      <script src="/assets/vendors/audiojs/audio.min.js"></script>
      <script src="/assets/vendors/vide/jquery.vide.min.js"></script>
      <script src="/assets/vendors/pageloading/js/svgLoader.min.js"></script>
      <script src="/assets/vendors/pageloading/js/classie.min.js"></script>
      <script src="/assets/vendors/pageloading/sidebartransition/js/sidebarEffects.min.js"></script>
      <script src="/assets/vendors/nicescroll/jquery.nicescroll.min.js"></script>
      <script src="/assets/vendors/wowjs/wow.min.js"></script>
      <script src="/assets/vendors/skrollr.min.js"></script>
      <script src="/assets/vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
      <!-- Own script-->
      <script src="/assets/js/layout.js"></script>
      <script src="/assets/js/elements.js"></script>
      <script src="/assets/js/widget.js"></script>
      <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
      <script type="text/javascript" src="/js/qrScanner.js"></script>
      <script type="text/javascript" src="/js/main3.js"></script>
    </body>
</html>
