<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brothers</title>
    <!-- Bootstrap CSS-->
    <link href="/assets/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link rel="stylesheet" href="/assets/vendors/font-awesome/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!-- IE 9-->
    <!-- Vendors-->
    <link rel="stylesheet" href="/assets/vendors/flexslider/flexslider.min.css">
    <link rel="stylesheet" href="/assets/vendors/swipebox/css/swipebox.min.css">
    <link rel="stylesheet" href="/assets/vendors/slick/slick.min.css">
    <link rel="stylesheet" href="/assets/vendors/slick/slick-theme.min.css">
    <link rel="stylesheet" href="/assets/vendors/animate.min.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/assets/vendors/pageloading/css/component.min.css">
    <link rel="stylesheet" href="/assets/vendors/dialog/css/dialog.css">
    <!-- Font-icon-->
    <link rel="stylesheet" href="/assets/fonts/font-icon/style.css">
    <!-- Style-->
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/elements.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/extra.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/widget.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

      <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <!-- Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
    <!-- Script Loading Page-->
    <script src="/assets/vendors/html5shiv.js"></script>
    <script src="/assets/vendors/respond.min.js"></script>
    <script src="/assets/vendors/pageloading/js/snap.svg-min.js"></script>
    <script src="/assets/vendors/pageloading/sidebartransition/js/modernizr.custom.js"></script>
  </head>
  <body>
    <div id="pagewrap" class="pagewrap">
      <div id="html-content" class="wrapper-content">
        <header>
          <div class="header-top top-layout-02">
            <div class="container">

            </div>
          </div>
          <div class="header-main">
            <div class="container">
              <div class="open-offcanvas">&#9776;</div>

              <!-- Cart and Search -->
              <div class="utility-nav">
                <div class="dropdown dropdown-full-mobile"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="search-bar dropdown-toggle"><i class="fa fa-shopping-bag"></i></a>
                    <!-- if clicked then menu below shows -->
                  <div class="dropdown-menu">
                    <div class="cart_lite">

    <!--************************* cart items *******************************  -->
                      <div class="cart_lite_list">
                        <ul id="cartItems">
                          <!-- if any items were added to cart within 20 min -->
                          <% if (cart) { %>
                            <!-- loop through dishes in the orders array -->
                            <% for ( var i = 0; i<cart.order.length; i++) { %>
                              <li class="cart_lite_item">
                                  <div class="cart_item_summary">
                                    <a href="javascript:void(0)" class="cart_item_title"><%= cart.order[i].dish %></a>
                                    <span class="product-price-amount"><span class="quantity"><%= cart.order[i].quantity %> × </span><span class="product-price-currencySymbol">$</span><%= cart.order[i].price %></span>
                                  </div>
                                  <a href="#" class="remove_from_cart_button">×</a>
                                </li>
                            <% } %>
                          <% } %>
                        </ul>
                      </div>

    <!-- ******  total within checkout    ****************** -->

                      <div class="cart_lite_total">
                        <p class="subtotal">
                          <strong>Subtotal: </strong>
                          <span class="product-price-amount">
                            <span class="product-price-currencySymbo">$</span>
                            <% if (cart) { %>
                              <%= cart.total%>
                            <% }  else {%>
                                0
                            <% } %>
                          </span>
                        </p>
                      </div>

                      <div class="cart_lite_button">
                        <!-- <a href="product-cart.html" class="swin-btn btn-sm">
                          <span>View Cart</span>
                        </a> -->
                        <a href="javascript:void(0)" class="swin-btn btn-sm checkout">
                          <span>Checkout</span>
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!--
********************************* real nav *********************************
              -->
              <div class="header-logo"><a href="/" class="logo logo-static SeamlessH">Seamless Eats</a></div>
              <nav id="main-nav-offcanvas" class="main-nav-wrapper">
                <div class="close-offcanvas-wrapper"><span class="close-offcanvas">x</span></div>
                <div class="main-nav">
                  <ul id="main-nav" class="nav nav-pills">
                    <li class="dropdown"><a href="/" class="dropdown-toggle">Home</a><i class="fa fa-angle-down btn-open-dropdown"></i>
                    </li>
                    <li><a href="/profile">Profile</a></li>
                    <!-- <li><a href="contact.html">Contact</a></li> -->
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </header>

        <div class="page-container">

          <div data-bottom-top="background-position: 50% 50px;" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -50px;" class="page-title page-menu">
            <div class="container">
              <div class="title-wrapper">
                <div data-top="transform: translateY(0px);opacity:1;" data--20-top="transform: translateY(-5px);" data--50-top="transform: translateY(-15px);opacity:0.8;" data--120-top="transform: translateY(-30px);opacity:0;" data-anchor-target=".page-title" class="title tableNumber">- <%=table%> -</div>
                <div data-top="opacity:1;" data--120-top="opacity:0;" data-anchor-target=".page-title" class="divider"><span class="line-before"></span><span class="dot"></span><span class="line-after"></span></div>
                <div data-top="transform: translateY(0px);opacity:1;" data--20-top="transform: translateY(5px);" data--50-top="transform: translateY(15px);opacity:0.8;" data--120-top="transform: translateY(30px);opacity:0;" data-anchor-target=".page-title" class="subtitle">Thank you for choosing our contactless dining solution</div>
              </div>
            </div>
          </div>
          <div class="page-content-wrapper">
            <section class="product-sesction-02 padding-top-100 padding-bottom-100">
              <div class="container">


      <!-- ************************** food header ************************ -->

                <div class="swin-sc swin-sc-title style-3">
                  <p class="title"><span>Menu</span></p>
                </div>


                <div class="swin-sc swin-sc-product products-02 carousel-02">

                    <div class="row">
                      <!-- <div class="col-md-2"></div> -->
                    <section class="centerRow">

                      <div data-slide-toshow="5" class="cat-wrapper-02 main-slider col-md-8">
                        <div class="item">
                          <div class="cat-icons"><i class="icons swin-icon-pasta"></i>
                            <h5 class="cat-title">Main</h5>
                          </div>
                        </div>
                        <div class="item">
                          <div class="cat-icons"><i class="icons swin-icon-ice-cream"></i></div>
                          <h5 class="cat-title">Desserts</h5>
                        </div>
                        <div class="item">
                          <div class="cat-icons"><i class="icons swin-icon-dinner"></i></div>
                          <h5 class="cat-title">Drinks</h5>
                        </div>
                      </div>
                    </section>
                      <!-- <div class="col-md-2"></div> -->
                    </div>



  <!-- ********************************** menu items *************************************** -->

                  <div class="products nav-slider">

  <!-- ************************* breakfast // check the div with the class of row slick-padding ******************* -->

                    <div class="row slick-padding">

                  <% for (var i = 0; i < menu.length ; i++) { %>

                      <% if(menu[i].type === "entre") { %>

                        <div class="col-md-4 col-sm-6 col-xs-12">

                          <div class="blog-item item swin-transition">
                            <div class="block-img">
                              <img src="<%=menu[i].img%>" alt="" class="img img-responsive">
                              <div class="block-circle price-wrapper">
                                <span class="price woocommerce-Price-amount amount">
                                  <span class="price-symbol">$</span>
                                  <%= menu[i].price%>
                                </span>
                              </div>
                              <!-- img overlay with cart -->
                              <div class="group-btn clickCart">
                                <!-- <a href="javascript:void(0)" class="swin-btn btn-link">
                                  <i class="icons fa fa-link"></i>
                                </a> -->
                                <a href="javascript:void(0)" class="swin-btn btn-add-to-card ">
                                  <i class="fa fa-shopping-basket">
                                  </i>
                                </a>
                              </div>
                            </div>

                            <!-- dish title -->
                            <div class="block-content">
                              <h5 class="title">
                                <a href="javascript:void(0)"><%= menu[i].name%></a>
                              </h5>
                              <div class="product-info">
                                <ul class="list-inline">
                                  <li class="author">
                                    <span>Chef</span>
                                    <span class="text">Don Joe</span>
                                  </li>
                                  <li class="rating">
                                    <a href="javascript:void(0)">
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star-o"></i>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                      <% } %>

                  <% } %>









                    </div>


  <!-- ********************************** lunch // ************************************ -->


      <!-- *************************** dinner ******************************-->



      <!-- ******************************* dessert ************************************* -->

                    <div class="row slick-padding">

                      <% for (var i = 0; i < menu.length ; i++) { %>

                          <% if(menu[i].type === "dessert") { %>

                            <div class="col-md-4 col-sm-6 col-xs-12">

                              <div class="blog-item item swin-transition">
                                <div class="block-img">
                                  <img src="<%=menu[i].img%> " alt="" class="img img-responsive">
                                  <div class="block-circle price-wrapper">
                                    <span class="price woocommerce-Price-amount amount">
                                      <span class="price-symbol">$</span>
                                      <%= menu[i].price%>
                                    </span>
                                  </div>
                                  <!-- img overlay with cart -->
                                  <div class="group-btn clickCart">
                                    <!-- <a href="javascript:void(0)" class="swin-btn btn-link">
                                      <i class="icons fa fa-link"></i>
                                    </a> -->
                                    <a href="javascript:void(0)" class="swin-btn btn-add-to-card ">
                                      <i class="fa fa-shopping-basket">
                                      </i>
                                    </a>
                                  </div>
                                </div>

                                <!-- dish title -->
                                <div class="block-content">
                                  <h5 class="title">
                                    <a href="javascript:void(0)"><%= menu[i].name%></a>
                                  </h5>
                                  <div class="product-info">
                                    <ul class="list-inline">
                                      <li class="author">
                                        <span>Chef</span>
                                        <span class="text">Don Joe</span>
                                      </li>
                                      <li class="rating">
                                        <a href="javascript:void(0)">
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star-o"></i>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>

                          <% } %>

                      <% } %>


                    </div>
        <!-- ********************************* Drink ***************************  -->
                    <div class="row slick-padding">

                      <% for (var i = 0; i < menu.length ; i++) { %>

                          <% if(menu[i].type === "drink") { %>

                            <div class="col-md-4 col-sm-6 col-xs-12">

                              <div class="blog-item item swin-transition">
                                <div class="block-img">
                                  <img src="<%=menu[i].img%>" alt="" class="img img-responsive">
                                  <div class="block-circle price-wrapper">
                                    <span class="price woocommerce-Price-amount amount">
                                      <span class="price-symbol">$</span>
                                      <%= menu[i].price%>
                                    </span>
                                  </div>
                                  <!-- img overlay with cart -->
                                  <div class="group-btn clickCart">
                                    <!-- <a href="javascript:void(0)" class="swin-btn btn-link">
                                      <i class="icons fa fa-link"></i>
                                    </a> -->
                                    <a href="javascript:void(0)" class="swin-btn btn-add-to-card ">
                                      <i class="fa fa-shopping-basket">
                                      </i>
                                    </a>
                                  </div>
                                </div>

                                <!-- dish title -->
                                <div class="block-content">
                                  <h5 class="title">
                                    <a href="javascript:void(0)"><%= menu[i].name%></a>
                                  </h5>
                                  <div class="product-info">
                                    <ul class="list-inline">
                                      <li class="author">
                                        <span>Chef</span>
                                        <span class="text">Don Joe</span>
                                      </li>
                                      <li class="rating">
                                        <a href="javascript:void(0)">
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star-o"></i>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>

                          <% } %>

                      <% } %>


                    </div>

                  </div>
                </div>
              </div>
            </section>


          </div>
        </div>
        <footer>
          <div class="footer-top"></div>
          <div class="footer-main">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="ft-widget-area">
                    <div class="ft-area1">
                      <div class="swin-wget swin-wget-about">
                        <div class="clearfix"><a href="/" class="logo logo-static SeamlessF">Seamless Eats</a>
                          <ul class="socials socials-about list-unstyled list-inline">
                            <li><a href="https://github.com/andyvasquez-dev"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://twitter.com/andyvasquez_dev"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/andy-vasquez-dev/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.andydevelops.com"><i class="fa fa-globe"></i></a></li>
                          </ul>
                        </div>
                        <div class="wget-about-content">
                          <p>We allow restaurants to provide a complete contactless dining expierence to all guests. With a simple qr scan, guests can view the menu, place their order, pay at the table, all at their conveniece and without the need for human contact</p>
                        </div>
                        <div class="about-contact-info clearfix">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer><a id="totop" href="#" class="animated"><i class="fa fa-angle-double-up"></i></a>
      </div>
      <div id="loader" data-opening="m -5,-5 0,70 90,0 0,-70 z m 5,35 c 0,0 15,20 40,0 25,-20 40,0 40,0 l 0,0 C 80,30 65,10 40,30 15,50 0,30 0,30 z" class="pageload-overlay">
        <div class="loader-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 80 60" preserveaspectratio="none">
            <path d="m -5,-5 0,70 90,0 0,-70 z m 5,5 c 0,0 7.9843788,0 40,0 35,0 40,0 40,0 l 0,60 c 0,0 -3.944487,0 -40,0 -30,0 -40,0 -40,0 z"></path>
          </svg>
          <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
          </div>
          <div class="sk-circle sk-circle-out">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery-->
    <script src="/assets/vendors/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap JavaScript-->
    <script src="/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- Vendors-->
    <script src="/assets/vendors/flexslider/jquery.flexslider-min.js"></script>
    <script src="/assets/vendors/swipebox/js/jquery.swipebox.min.js"></script>
    <script src="/assets/vendors/slick/slick.min.js"></script>
    <script src="/assets/vendors/isotope/isotope.pkgd.min.js"></script>
    <script src="/assets/vendors/jquery-countTo/jquery.countTo.min.js"></script>
    <script src="/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="/assets/vendors/parallax/parallax.min.js"></script>
    <script src="/assets/vendors/gmaps/gmaps.min.js"></script>
    <script src="/assets/vendors/audiojs/audio.min.js"></script>
    <script src="/assets/vendors/vide/jquery.vide.min.js"></script>
    <script src="/assets/vendors/pageloading/js/svgLoader.min.js"></script>
    <script src="/assets/vendors/pageloading/js/classie.min.js"></script>
    <script src="/assets/vendors/pageloading/sidebartransition/js/sidebarEffects.min.js"></script>
    <script src="/assets/vendors/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/assets/vendors/wowjs/wow.min.js"></script>
    <script src="/assets/vendors/skrollr.min.js"></script>
    <script src="/assets/vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
    <!-- Own script-->
    <script src="/assets/js/layout.js"></script>
    <script src="/assets/js/elements.js"></script>
    <script src="/assets/js/widget.js"></script>
    <script src="/js/main.js">

    </script>
  </body>
</html>
